<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/great_styles.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Assignment: </h1>
      </div>
      <div class="container">
        <div class="info">
          <h1>Welcome to the Great Number Game!</h1>
          <h4>I am thinking of a number between 1 and 100</h4>
        </div>
        <div class="center">
          <div class="content" style="background-color: {{ color }}">
            {% if win == 'low': %}
              <h2>Too Low!</h2>
            {% elif win == 'high': %}
              <h2>Too High!</h2>
            {% elif win == 'correct': %}
              <h2>You Win!</h2>
              <h2>{{ session['randNum'] }} was the correct number!</h2>
              <form action="/reset" method="post">
                <button class="btn btn-primary" name='reset' type="submit">Play Again?</button>
              </form>
            {% else: %}
              <h4>Take a Guess!</h4>
            {%endif%}
          </div>
        </div>


        <div class="row">
          <div class="form-group">
            <form class="form-group" action="/guess" method="post">
              <input type="text" name="guess" value="">

              <button class="btn btn-primary" type="submit" name="sub_btn">Guess</button>
            </form>
          </div>
        <div class="answer">

          <h3>{{ session['randNum'] }}</h3>

          <h3>{{ guess }}</h3>
        </div>

        </div>

      </div>
    </div>
  </body>
</html>
